@using Austins_Blog.Models
@using PagedList.Mvc
@using PagedList
@model IPagedList<BlogPost>

@{
    ViewBag.Title = "Home Page";
}



    <section class="blog-list px-3 py-5 p-md-5">
        <div class="container">
            <div class="item mb-5">
                @foreach (var post in Model)
                {
                    <a href="@Url.Action("Details","BlogPosts", new { slug = @post.Slug })">
                        <div class="media">
                            <img class="img-responsive" src="@post.MediaUrl" width="110" height="110" alt="" />
                            <div class="media-body">
                                <h3 class="title mb-1">
                                    @post.Title
                                </h3>
                                <div class="meta mb-1"><span class="date">Posted by Austin Pearson on @post.Created </span><span class="time">5 min read</span><span class="comment"><a href="#">8 comments</a></span></div>
                                <div class="intro">@post.Abstract</div>

                                @*<a class="more-link" href="blog-post.html">Read more &rarr;</a>*@
                            </div><!--//media-body-->
                        </div><!--//media-->
                        <br />
                    </a>
                }
            </div><!--//item-->
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of 
            @Model.PageCount  @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

        </div>
    </section>

   

